body {
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background: #ffffff;
    color: #000000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
h2 {
    text-align: center;
    margin-left:10px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.hero {
    padding: 100px 20px;
    text-align: center;
}

.content {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    border-top: 1px solid #ddd;
    font-size: 14px;
}

@keyframes bounceDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.signup-column img {
  width: 50px;
  height: auto;
  margin-top: 12px;
  animation: bounceDown 1.5s infinite ease-in-out;
}
.signup-column:nth-child(2) img {
  animation-delay: 0.3s;
}
50% {
  transform: translateY(16px);
}
.leftButton{
    margin-left: -20px;
    cursor: pointer;
}
.rightButton{
    margin-right: 50px;
    cursor: pointer;
}
input::placeholder {
  font-size: 12px;
}
@media (max-width: 600px) {
  .email-input::placeholder {
    font-size: 12px;
  }
}
.app-container {
    width: 100%;
    max-width: 720px;
    aspect-ratio: 9 / 16;
    margin: 40px auto;
}

.app-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

iframe,
canvas {
    touch-action: pan-y;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 20px;
    text-align: center;
    padding: 0 10px;
  }

  .content p {
    padding: 0 15px;
  }
}





